name: Test

on:
  push:
    paths-ignore:
      - 'rapidyenc/**'
      - 'src/**'
  pull_request:
    paths-ignore:
      - 'rapidyenc/**'
      - 'src/**'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26.0-rc.2'

      - name: Run tests
        env:
          GOEXPERIMENT: simd
          CGO_ENABLED: 0
        run: go run gotest.tools/gotestsum@latest --junitfile unit-tests.xml --format pkgname -- ./...

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "unit-tests.xml"
        if: always()
