name: Test

on:
  push:
    paths-ignore:
      - 'rapidyenc/**'
      - 'src/**'
  pull_request:
    paths-ignore:
      - 'rapidyenc/**'
      - 'src/**'

jobs:
  test:
    name: Test (${{ matrix.name }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: cgo-enabled
            cgo_enabled: 1
            goexperiment: ""
          - name: no-cgo-simd
            cgo_enabled: 0
            goexperiment: simd
          - name: no-cgo
            cgo_enabled: 0
            goexperiment: ""

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - name: Run tests
        env:
          CGO_ENABLED: ${{ matrix.cgo_enabled }}
          GOEXPERIMENT: ${{ matrix.goexperiment }}
        run: |
          go run gotest.tools/gotestsum@latest \
            --junitfile unit-tests-${{ matrix.name }}.xml \
            --format pkgname \
            -- ./...

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "unit-tests.xml"
